*{
    font-family: 'Montserrat', sans-serif;
}

.skills img {
    width: 100px;
    margin: 10px 10px;
}

.profileImage {
    border-radius: 50%; 
    background-image: "desktop/JBphoto.png"; 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 250px; 
    height: 250px; 
    width: 250px; 
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}